html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

/* Mise en forme du header */

header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #22223b;
  color: #f2e9e4;
}

header h1 {
  width: 45%;
  text-align: center;
  font-size: 40px;
  border-right: 3px solid #f2e9e4;
}

header nav {
  width: 40%;
  margin-right: 10%;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header li {
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #f2e9e4;
  padding: 15px 40px;
  border-radius: 3px;
  background: linear-gradient(to left, transparent 50%, #4a4e69 50%) right;
  background-size: 220%;
  transition: 400ms ease-in-out;
}

header a:hover {
  background-position: left;
}

/* Fin de la mise en forme du Header */

/* Début de la mise en forme du Main */

main {
  margin: 0;
  height: calc(100vh - 80px);
  width: 100%;
  background-color: #4a4e69;
}
